{% if id != false %}
    <form method="POST" action="/products/{{product.id}}">
    <input name="id" type="hidden" value="{{product.id}}">
{% else %}
    <form method="POST" action="/products">
 {% endif %}

    <div>
        <label for="title">
            Title:
        </label>
        <input name="title" type="text" id="title" value="{{product.title}}">
    </div>
     <div>
        <label for="price">
            Price
        </label>
        <input name="price" type="text" id="price" value="{{product.price}}">
    </div>
     <div>
        <label for="description">
            Description
        </label>
        <input name="description" type="text" id="description" value="{{product.description}}">
    </div>
    <div>
        <label for="slug">
            Slug
        </label>
        <input name="slug" type="text" id="slug" value="{{product.slug}}">
    </div>
   <div>
    <label>
        <input type="radio" name="is_published" value="true" {% if product.is_published == true %}checked{% endif %}> True
    </label>
    <label>
        <input type="radio" name="is_published" value="false" {% if product.is_published == false %}checked{% endif %}> False
    </label>
</div>


    {% if id != false %}
        <button type="submit" >Update Product</button>
    {% else %}
        <button type="submit" >Create New Product</button>
    {% endif %}

 </form>