{% extends "layouts/base.html.twig" %} 

{% block main_content %}

<div class="product-details">
    <h3>About {{ variant.title }}</h3>
    <ul>
        <li>
            <label for="">Id:</label> {{ produvariantct.id }}
            <label for="">Title:</label> {{ variant.title }}
            <label for="">Price:</label> {{ variant.price }}
            <label for="">Description:</label> {{ variant.description }}
        </li>
    </ul>
    <p>
        <a href="/products/{{variant.id}}/edit">Edit</a> |
        <a href="/products/{{variant.id}}/delete">Remove</a>
    </p>
</div>


{% endblock %}