{% extends "layouts/base.html.twig" %} 

{% block main_content %}

<h3>About {{ product.name }}</h3>
    <ul>
        <li>
            <label for="">Id:</label> {{ product.id }}
            <label for="">Name:</label> {{ product.name }}
            <label for="">Price:</label> {{ product.price }}
            <label for="">Description:</label> {{ product.description }}
        </li>
    </ul>
    <p>
    <a href="/products/{{product.id}}/edit">Edit</a> |  <a href="/products/{{product.id}}/delete">Remove</a>

    </p>

{% endblock %}